@import '../../assets/styles/clean.less';
@import '../../assets/styles/color.less';

.stack {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: fixed;
  bottom: 0;
  right: 0;
}

.tag {
  padding: 20px;
  background: @gradient;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 360px;
  gap: 10px;
  border-radius: 4px;
  .icon {
    font-size: 32px;
  }
  .msg {
    font-size: 16px;
  }
}