@import '../../assets/styles/clean.less';
@import '../../assets/styles/color.less';

.frame {
  width: 1020px;
  min-height: 100vh;
  background-color: @back;
  margin: 0 auto;
  box-shadow: @shadow;
}

.mainBar {
  display: block;
}

.mainBarMobile {
  display: none;
}
/*
@media (max-width: 1020px) {
  .mainBar {
    display: none;
  }
  
  .mainBarMobile {
    display: block;
  }
}
*/
.cont {
  padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  padding: 20px;
  left: calc(50% - 100px);
}