@import '../../assets/styles/clean.less';
@import '../../assets/styles/color.less';

.frame {
  max-width: 1020px;
  min-height: 100vh;
  background-color: @back;
  margin: 0 auto;
  box-shadow: @shadow;
}

.mainBar {
  display: block;
}

.mainBarMobile {
  display: none;
}

@media (max-width: 1020px) {
  .mainBar {
    display: none;
  }
  
  .mainBarMobile {
    display: block;
  }
}

.cont {
  position: relative;
  min-height: calc(100vh - 180px);

  .outlet {
    position: relative;
    padding: 20px;
    top: 0;
    left: 0;
  }
  
  .overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @overlay-black;
    z-index: 10;
    top: 80px;
    left: calc(50% - 510px);
    width: 1020px;
    height: 100%;
  }
}

.footer {
  margin: 0 auto;
  padding: 20px;
  left: calc(50% - 100px);
}