@import url('../../assets/styles/clean.less');
@import url('../../assets/styles/color.less');

.btn {
  background-color: @main;
  color: @light;
  border: none;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;

  .icon {
    display: inline-block;
  }

  .label {
    display: inline-block;
  }
}

.s {
  height: 24px;
  border-radius: 4px;

  .icon {
    font-size: 16px;
    margin-right: 6px;
  }
  .label {
    font-size: 16px;
  }
}

.m {
  height: 32px;
  border-radius: 4px;
  font-size: 20px;

  .icon {
    font-size: 22px;
    margin-right: 10px;
  }
  .label {
    font-size: 20px;
  }
}