@main: rgba(30, 163, 201, 1);
@main-dark: rgba(0, 95, 124, 1);
@light: rgba(222, 232, 234, 1);
@back: rgba(17, 22, 23, 1);
@gradient: linear-gradient(90deg, rgba(31, 162, 203, 1) 0%, rgba(0, 200, 164, 1) 100%);
@back-grad: linear-gradient(180deg, @back 0%, @back 100%);
@back-body: linear-gradient(180deg, rgba(47, 59, 67, 1) 0%, rgba(25, 34, 39, 1) 100%);
@back-card: linear-gradient(180deg, rgba(31, 38, 39, 1) 0%, rgba(31, 38, 39, 0.3) 100%);
@overlay: rgba(30, 163, 201, 0.5);
@shadow: 6px 6px 6px rgba(21, 31, 46, 0.4), 3px 3px 10px rgba(21, 31, 46, 0.4);